[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pymavlink = "*"
flask-bootstrap = "*"
flask-nav = "*"
flask-debug = "*"
flask-wtf = "*"
fabo9axis-mpu9250-python3 = "*"
gps = "*"
pigpio = "*"
flask-socketio = "*"
eventlet = "*"
"rpi.gpio" = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python run.py"
