[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
flask = "*"
fabo9axis-mpu9250-python3 = "*"
gps = "*"
pigpio = "*"
flask-socketio = "*"
eventlet = "*"
mpu9250-jmdev = "*"

[requires]
python_version = "3.7"

[scripts]
start = "authbind --deep python run.py"
test = "authbind --deep python run-test.py"
