.space-top {
  padding-top: 10px;
}

#div_steering {
  position: fixed;
  top: 150;
  left: 30;
}

#div_throttle {
  position: fixed;
  top: 150;
  right: 10;
}

#steering {
  height: 100px;
  width: 300px;
  text-align: center;
  background-color: #80d5ff;
  font: 24px/300px Helvetica, Arial, sans-serif;
  cursor: all-scroll;
  user-select: none;
  z-index: -100;
}

#throttle {
  height: 300px;
  width: 100px;
  text-align: center;
  background-color: #80d5ff;
  font: 24px/300px Helvetica, Arial, sans-serif;
  cursor: all-scroll;
  user-select: none;
  z-index: -100;
}
